{% extends '../base.html' %}

{% block title%}
Password Reset
{% endblock title%}


{% block content %}


<div class="containerino">
    <div class="form-containerino">
        <h2 id="top_of_form"> Password reset <i class="bi bi-arrow-counterclockwise"></i> </h2> 
        <hr>
        <p> Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

      <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
          <div class="form-row field-email">
            {{ form.email.errors }}
            <div class="flex-container">
              <label for="id_email">Email address:</label>
              {{ form.email }}
            </div>
          </div>
        </fieldset>
        <br>
        <div class="submit-row">
          <input type="submit" value="Reset my password">
        </div>
      </form>
    </div>
</div>

{% endblock %}
