pg_data/
.idea
.DS_Store
node_modules
**/__pycache__/
db.sqlite3
files/
venv/
logs/
.vscode/
production.env
backend/static/
!backend/gui/static/gui/img
!backend/gui/migrations/0001_initial.py
!backend/gui/migrations/0002_add_groups.py
.pytest_cache
backend/gui/migrations
