{% extends './base.html' %}

{% block title %}
Samples Overview
{% endblock title %}

{% block content %}

<div class="containerino">
  <div class="overdiv">
    <div id="header-samples">
      <div>
        <h2> Samples <i class="bi bi-table"></i> </h2>
      </div>
    <div>
        <hr>
    </div>

    <form action={% url "all_samples" %} method="get" enctype="multipart/form-data" id="column-filter">
        {% csrf_token %}

      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col auto bg-white border border-dark-subtle">
            <i class="bi bi-bar-chart"></i> Total number of samples: {{samples|length}} &nbsp; <i class="bi bi-dash"></i> &nbsp; 
            <i class="bi bi-person"></i> Total number of patients: <span id="id-patient-number">  </span> &nbsp; &nbsp; <i class="bi bi-dash-lg"></i> &nbsp; &nbsp;
            <i class="bi bi-funnel"></i> Number of filtered samples: <span id="id-selected-samples"> {{samples|length}} </span> &nbsp; <i class="bi bi-dash"></i> &nbsp;
            <i class="bi bi-person-add"></i> Number of filtered patients: <span id="id-filtered-patient-number">  </span>  
          </div>
        </div>
        

        {% comment %} column filters {% endcomment %}
        <div class="row">
          <div class="col-auto"> 
            <button type="button" class="btn btn-primary dropdown-toggle mr-1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              Filter columns
            </button>
            <button class="btn btn-primary"> Apply </button>
        
            
              <ul class="dropdown-menu" id="id-group-filters">
                <label class="dropdown-item"> 
                  <input type="checkbox" name="all" id="id_all_group_filters" checked="" onclick="selectAllFilters()">
                   Select all
                </label>
                {% for filter in filters %}
                
                  <label class="dropdown-item"> 
                    {{filter}}
                    {{filter.label}} 
                  </label>
                
                {% endfor %}

              </ul>
          </div>

          {% comment %} Search bar {% endcomment %}
          <div class="col offset-sm-1">
            <div class="input-group">
              <label class="input-group-text" for="selectTableSearchColumn">Search</label>
              <select class="form-select" name="searchColumn" id="selectTableSearchColumn" aria-label="Example select with button addon">
                
                {% if samples.0 %}
                  {% for key, _ in samples.0 %}
                    {% if key and key != "ID" and key != "Created at" %}
                      <option value="{{ key }}" >{{ key }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
              <input type="text" class="form-control" name="search" id="tableSearchInput" onkeyup="searchTable()" placeholder="Search ...">
            </div>
          </div>
          {% comment %} End of search bar {% endcomment %}


    </form>
        {% comment %} Download buttons {% endcomment %}
          <div class="col-auto">
            <div class="dropdown">
              <button id="download-dropdown-button" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Download
              </button>
              <ul class="dropdown-menu">
                <li><a id="download-dropdown-button-CSV" class="dropdown-item" href="#" onclick="downloadWithFilter('CSV')"> Download as CSV (.csv) </a></li>
                <li><a id="download-dropdown-button-EXCEL" class="dropdown-item" href="#" onclick="downloadWithFilter('Excel')"> Download for Excel (.xlsx) </a></li>
              </ul>
            </div>
          </div>
        {% comment %} Download buttons end {% endcomment %}

        </div>
        
      </div>
      
    </div>

    
   
    <div class="tablediv">
      <form method="post" id="id-form">{% csrf_token %}</form>

      <table class="stripedtable" id="sampleTable">
        <thead>
          <tr id="head-row">
            {% if samples.0 %}
            {% for key, _ in samples.0 %}
              {% if key %}
                {% if key == "ID" or key == "Created at" %}
                <th hidden class="bg-light">{{ key }}</th>
                {% else %}
                <th name="{{key}}" class="bg-light"> {{ key }}
                    <button id="button for {{ key }}" class="btn btn-outline-dark btn-sm bg-light dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></button>
                  <form id="column form for {{key}}" action={% url "all_samples" %} method="get">
                    <ul id="dropdown for {{ key }}" class="dropdown-menu" style="max-height: 20vh; overflow-y: auto; position: absolute; z-index:10">
                    </ul> 
                  </form>
                </th>
                {% endif %}
              {% endif %}
            {% endfor %}
            <th>Action</th>
            {%endif%}
          </tr>
        </thead>
        <tbody id="data-rows">
          {% for item in samples %}
          <tr>
            {% for key, value in item %}
            {% if key %}
                {% if key == "ID" or key == "Created at" %}
                <td hidden >{{ value }}</td>
                {% else %}
                  {% comment %} localize off is necessary to get the date format from the settings file {% endcomment %}
                  {% load l10n %}
                    {% localize off %}
                      <td>{{ value }}</td>
                    {% endlocalize %}
                {% endif %}
            {% endif %}
            {% endfor %}
            <td>
              {% if user.is_superuser or user.name == "root" or user.groups.first.name == "coordinators" or user.groups.first.name == "admins" %}
              <button id="Delete {{item.5.1}}" type="button" onclick="submitForm({{ item.0.1 }})">Delete</button>
              {% endif %}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <form  action={% url "filtered_download" %} method="get" id="filter-download">
      {% csrf_token %}
    </form>
    <br>
  </div>
</div>

{% endblock content %}




{% block head_scripts%}
  {% load static %}
  <script src="{% static 'gui/sample_table_scripts/generateColumnFilters.js' %}"></script>
  <script src="{% static 'gui/sample_table_scripts/filtered_download.js' %}"></script>
  <script>
    // delete record with ID id
    function submitForm(id) {
      const form = document.getElementById('id-form');
  
      // Clear existing inputs
      form.innerHTML = '';
  
      // Add CSRF token input
      const csrfTokenInput = document.createElement('input');
      csrfTokenInput.type = 'hidden';
      csrfTokenInput.name = 'csrfmiddlewaretoken';
      csrfTokenInput.value = '{{ csrf_token }}';
      form.appendChild(csrfTokenInput);
  
      // Add ID input
      const idInput = document.createElement('input');
      idInput.type = 'hidden';
      idInput.name = 'id';
      idInput.value = id;
      form.appendChild(idInput);

      const filterForm = document.getElementById('column-filter');
      var formData = new FormData(filterForm);
      const all_inputs = filterForm.getElementsByTagName("input");

      for (let i = 1; i < all_inputs.length; i++) {
        var name = all_inputs[i].name;
        if (formData.has(name)){
          newInput = document.createElement('input');
          newInput.type = "hidden";
          newInput.name = name
          newInput.value = "on"
          if (all_inputs[i].type == "text"){
            newInput.value = all_inputs[i].value;
          }

          form.appendChild(newInput);
        };
      };

      form.submit();      
    }
    // check or uncheck all checkboxes of "filter columns" dropdown
    function selectAllFilters(){
      const form = document.getElementById('id-group-filters');
      const all_inputs = form.getElementsByTagName("input");
      for (let i = 1; i < all_inputs.length; i++) {
        if (all_inputs[0].checked == false){
          all_inputs[i].checked=false;
        }
        else{
          all_inputs[i].checked=true;
        }
      }
    }
  </script>

  <script src="{% static 'gui/sample_table_scripts/searchSampleTable.js' %}"> </script>

  <script src="{% static 'gui/sample_table_scripts/countPatients.js' %}"> </script>
  
{% endblock head_scripts %}


{% block body_scripts%}
  {% load static %}
    <script>
      const tableHead = document.querySelector("#head-row")
      let columnDropdownButtons = tableHead.querySelectorAll("button");
      columnDropdownButtons.forEach(function(elem, index) {
            getColumnValues(elem.id, index);
        });
    </script>

    <script>
      var activeFilters = new Map()
      var activeSearchFilter = new Map()
    </script>

    <script> countPatients()
    </script>

  {% endblock body_scripts %}


