{% extends './base.html' %}

{% block title %}
Samples
{% endblock title %}

{% block content %}
<div class="containerino">
  <div class="overdiv">
    <div id="header-samples">
      <div>
        <h2> Samples <i class="bi bi-table"></i> </h2>
      </div>
      <div>
        <hr>
      </div>
      <form action={% url "filtered_samples" %} method="post" enctype="multipart/form-data" id="column-filter">
        {% csrf_token %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-auto"> 
            <button type="button" class="btn btn-primary dropdown-toggle mr-1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              Filter columns
            </button>
            <button class="btn btn-primary" onclick="applyFilter()"> Apply </button>
        
            
              <ul class="dropdown-menu">
                {% for filter in filters %}
                <li class="dropdown-item"> 
                {{filter}}
                {{filter.label}} </li>
                {% endfor %}
              </ul>
            
          </div>
          <div class="col offset-sm-1">
            <div class="input-group">
              <label class="input-group-text" for="selectTableSearchColumn">Search</label>
              <select class="form-select" name="searchColumn" id="selectTableSearchColumn" aria-label="Example select with button addon">
                
                {% if samples.0 %}
                  {% for key, _ in samples.0 %}
                    {% if key %}
                      <option value="{{ key }}" >{{ key }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
              <input type="text" class="form-control" name="search" id="tableSearchInput" onkeyup="searchTable()" placeholder="Search ...">
            </div>
          </div>
        </form>
          <div class="col-auto">
            
            <button class="btn btn-primary" type="button" onclick="downloadWithFilter()"> Download </button>
            
          </div>
        </div>
      </div>


    </div>
  
    <div class="tablediv">
      <form method="post" id="id-form">{% csrf_token %}</form>
      <table class="stripedtable" id="sampleTable">
        <thead>
          <tr>
            {% if samples.0 %}
            {% for key, _ in samples.0 %}
              {% if key %}
                {% if key == "SATURN3 Sample Code" %}
                <th>{{ key }}</th>
                {% else %}
                <th>{{ key }}</th>
                {% endif %}
              {% endif %}
            {% endfor %}
            <th>Action</th>
            {%endif%}
          </tr>
        </thead>
        <tbody>
          {% for item in samples %}
          <tr>
            {% for key, value in item %}
            {% if key %}
                {% if key == "SATURN3 Sample Code" %}
                <td>{{ value }}</td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            {% endif %}
            {% endfor %}
            <td>
              {% if user.is_superuser or user.name == "root" or user.groups.first.name == "coordinators" or user.groups.first.name == "admins" %}
              <button type="button" onclick="submitForm({{ item.0.1 }})">Delete</button>
              {% endif %}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <form  action={% url "filtered_download" %} method="post" id="filter-download">
      {% csrf_token %}
    </form>
    <br>
  </div>
</div>

{% endblock content %}

{% block head_scripts%}
  <script>
    function submitForm(id) {
      const form = document.getElementById('id-form');
  
      // Clear existing inputs
      form.innerHTML = '';
  
      // Add CSRF token input
      const csrfTokenInput = document.createElement('input');
      csrfTokenInput.type = 'hidden';
      csrfTokenInput.name = 'csrfmiddlewaretoken';
      csrfTokenInput.value = '{{ csrf_token }}';
      form.appendChild(csrfTokenInput);
  
      // Add ID input
      const idInput = document.createElement('input');
      idInput.type = 'hidden';
      idInput.name = 'id';
      idInput.value = id;
      form.appendChild(idInput);
  
      // Submit the form
      form.submit();
    }

    // takes form data out of the filter dropdown and posts it as 
    // a new form to FilteredDownloadView
    function downloadWithFilter(){
      const form = document.getElementById('column-filter');
      var formData = new FormData(form);
      
      const downloadForm = document.getElementById('filter-download');
      
      // Clear existing inputs
      downloadForm.innerHTML = '';
  
      //Add CSRF token input
      const csrfTokenInput = document.createElement('input');
      csrfTokenInput.type = 'hidden';
      csrfTokenInput.name = 'csrfmiddlewaretoken';
      csrfTokenInput.value = '{{ csrf_token }}';
      downloadForm.appendChild(csrfTokenInput); 
      
      const all_inputs = form.getElementsByTagName("input");

      for (let i = 1; i < all_inputs.length; i++) {
        var name = all_inputs[i].name;
        if (formData.has(name)){
          newInput = document.createElement('input');
          newInput.type = "hidden";
          newInput.name = name
          newInput.value = "on"
          if (all_inputs[i].type == "text"){
            newInput.value = all_inputs[i].value;
          }

          downloadForm.appendChild(newInput);
        };
      };

      // append select
      const select = form.getElementsByTagName("select")[0];
      console.log(select)
      var newSelect = document.createElement('input');
      newSelect.type = "hidden";
      newSelect.name = select.name
      newSelect.value = select.value
      downloadForm.appendChild(newSelect);

      downloadForm.submit();

    }

    
    function applyFilter(){
      const form = document.getElementById('column-filter');
      form.submit();
    }
  </script>

  <script>

    function searchTable() {
      // Declare variables
      var input, filter, table, tr, td, tds, ths, i, txtValue, idx;
      input = document.getElementById("tableSearchInput");
      column = document.getElementById("selectTableSearchColumn").value
      filter = input.value.toUpperCase();
      table = document.getElementById("sampleTable");
      tr = table.getElementsByTagName("tr");
  
      // get all column names
      ths = tr[0].getElementsByTagName("th");
      // find out index of column
      for (i = 0; i < ths.length; i++) {
        if (ths[i].innerHTML == column){
          idx = i
        }
      }
      console.log(idx)
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[idx];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

  </script>
  
  {% endblock head_scripts %}
