{% extends './base.html' %}

{% block title %}
Samples
{% endblock title %}

{% block content %}
<div class="containerino">
  <div class="overdiv">
    <div id="header-samples">
      <div>
        <h2> Samples <i class="bi bi-table"></i> </h2>
      </div>
      <div>
        <hr>
      </div>
      <div > 
        <button type="button" class="btn btn-primary dropdown-toggle mr-1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Filter columns
        </button>
        <button class="btn btn-primary" onclick="applyFilter()"> Apply </button>
        <button class="btn btn-primary" onclick="downloadWithFilter()"> Download</button>
        <form action={% url "filtered_samples" %} method="post" enctype="multipart/form-data" id="column-filter">
            {% csrf_token %}
          <ul class="dropdown-menu">
            {% for filter in filters %}
            <li class="dropdown-item"> 
            {{filter}}
            {{filter.label}} </li>
            {% endfor %}
          </ul>
        </form>
       
      </div>
    </div>
  
    <div class="tablediv">
      <form method="post" id="id-form">{% csrf_token %}</form>
      <table class="stripedtable">
        <thead>
          <tr>
            {% if samples.0 %}
            {% for key, _ in samples.0 %}
              {% if key %}
                {% if key == "SATURN3 Sample Code" %}
                <th class="absolutecol"> {{ key }} </th>
                {% else %}
                <th>{{ key }}</th>
                {% endif %}
              {% endif %}
            {% endfor %}
            <th>Action</th>
            {%endif%}
          </tr>
        </thead>
        <tbody>
          {% for item in samples %}
          <tr>
            {% for key, value in item %}
            {% if key %}
                {% if key == "SATURN3 Sample Code" %}
                <td> {{ value }} </td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            {% endif %}
            {% endfor %}
            <td>
              {% if user.is_superuser or user.name == "root" or user.groups.first.name == "SPL" %}
              <button type="button" onclick="submitForm({{ item.0.1 }})">Delete</button>
              {% endif %}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <form  action={% url "filtered_download" %} method="post" id="filter-download">{% csrf_token %}</form>
    <br>
  </div>
</div>
{% endblock content %}

{% block head_scripts%}
  <script>
    function submitForm(id) {
      const form = document.getElementById('id-form');
  
      // Clear existing inputs
      form.innerHTML = '';
  
      // Add CSRF token input
      const csrfTokenInput = document.createElement('input');
      csrfTokenInput.type = 'hidden';
      csrfTokenInput.name = 'csrfmiddlewaretoken';
      csrfTokenInput.value = '{{ csrf_token }}';
      form.appendChild(csrfTokenInput);
  
      // Add ID input
      const idInput = document.createElement('input');
      idInput.type = 'hidden';
      idInput.name = 'id';
      idInput.value = id;
      form.appendChild(idInput);
  
      // Submit the form
      form.submit();
    }

    // takes form data out of the filter dropdown and posts it as 
    // a new form to FilteredSampleView
    function downloadWithFilter(){
      const form = document.getElementById('column-filter');
      var formData = new FormData(form);
      console.log(formData)
      
      const downloadForm = document.getElementById('filter-download');
      
      // Clear existing inputs
      downloadForm.innerHTML = '';
  
      //Add CSRF token input
      const csrfTokenInput = document.createElement('input');
      csrfTokenInput.type = 'hidden';
      csrfTokenInput.name = 'csrfmiddlewaretoken';
      csrfTokenInput.value = '{{ csrf_token }}';
      downloadForm.appendChild(csrfTokenInput); 
      
      const all_inputs = form.getElementsByTagName("input");

      for (let i = 1; i < all_inputs.length; i++) {
        var name = all_inputs[i].name;
        if (formData.has(name)){
          newInput = document.createElement('input');
          newInput.type = "hidden";
          newInput.name = name
          newInput.value = "on"
          console.log(newInput)
          downloadForm.appendChild(newInput);
        };
      };

      downloadForm.submit();

    }
    
    function applyFilter(){
      const form = document.getElementById('column-filter');
      form.submit();
    }

  </script>
  
  {% endblock head_scripts %}
