<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Saturn3 - {% block title %}{% endblock %}</title>
      
      {# Include FontAwesome; required for icon display #}
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <!-- CSS only -->
      {% load static %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'gui/style.css' %}">
      <link rel="shortcut icon" type="image/png" href="{% static 'gui/favicon.png' %}" >
      

      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
          crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      
      {% block head_scripts %} {%endblock%}
      
      {{ form.media }}

  </head>

  <body class="bg-light">
    {% comment %} This div renders the footer on the bottom of the viewport {% endcomment %}
    <div class="d-flex flex-column min-vh-100">
      {# Navigation across pages #}
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand " href="/">
            <img class="rounded" src="{% static 'gui/img/SATURN3_Logo_RGB_Square_rect.png' %}"  width="70" alt="Saturn3 Logo">
          </a>
          <div class="collapse navbar-collapse">
            <div class="navbar-nav">
              <!-- <a class="nav-item nav-link" href={% url "home" %} id="home-nav">Home</a> -->
              <a class="nav-item nav-link" href={% url "sample_tracking" %} id="sample-tracking-nav">Sample Tracking</a>
              <a class="nav-item nav-link" href={% url "all_samples" %} id="all-samples-nav">Samples Overview</a>
              <a class="nav-item nav-link" href={% url "faqs" %} id="faqs-nav">FAQs</a>
              <div class="vr bg-light"></div>
              <a class="nav-item nav-link" href={% url "dashboard" %} id="dashboard-nav">Dashboard</a>
            </div>
            <div class="navbar-nav ms-auto">
              <div class="vr bg-light"></div>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User
                </a>
                <div id="dropdown-login" class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                  <h6 class="dropdown-header"> {% if user %} {{ user }} {% else %} You are not logged in {% endif %}</h6>
                  {% if user %}
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href={% url "password_change" %}>Change password</a> 
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href={% url "logout" %}>Log out</a> 
                  
                  {% endif %}
                </div>
              </li>
            </div>
          </div>
        </div>
      </nav>

    

    {% block content %}
    {% endblock %}

    <script>
      $(document).ready(function() {
        let selected = null;
        
        switch (window.location.pathname) {
          case "/": 
            selected = $("#home-nav");
            break;
          case "/samples/": 
            selected = $("#all-samples-nav");
            break;
          case "/contact/":
            selected = $("#contact-nav");
            break;
          case "/dashboard/":
            selected = $("#dashboard-nav");
            break;
          case "/imprint/":
            selected = $("#imprint-nav");
            break;
          case "/faqs/":
            selected = $("#faqs-nav");
            break;
          case "/sample_tracking/" ||  "/upload/":
            selected = $("#sample-tracking-nav");
            break;
        }
        
        selected.addClass("active");
      });
    </script>

    {% comment %} Important for keeping some space between footer and the main page {% endcomment %}
    <div class="my-5">
    
    </div>
    

    <footer class="mt-auto">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center my-3 border-top">

            <p class="col-md-4 mb-0 text-light">LiMeTrack</p>

            <div class="col-md-1 d-flex align-items-center justify-content-center mt-2 mb-3 mb-md-0 me-md-auto">
              
            </div>


            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item"><a href={% url "home" %} class="nav-link px-2 text-light">Home</a></li>
              <li class="nav-item"><a href={% url "contact" %} class="nav-link px-2 text-light">Contact</a></li>
              <li class="nav-item"><a href={% url "imprint" %} class="nav-link px-2 text-light">Imprint</a></li>
            </ul>
          </div>    
      </div>
    </footer>

  </div>


      {% comment %} Logo banners {% endcomment %}
      <div class="row bg-white pt-2 w-100">

        <div class="col-9">
      
          <div class="bg-white mt-0">

            <div class="d-flex flex-wrap justify-content-between align-items-center">

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
                <a href="https://iccb-cologne.org/home"><img class="bg-white p-1 img-fluid" src="{% static 'gui/img/ICCB_logo.png' %}" width="150" alt="Saturn3 Logo"></a>
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
                <a href="https://www.dkfz.de/de/index.html"><img class="rounded bg-white img-fluid" src="{% static 'gui/img/DKFZ_cropped.png' %}" style="margin-bottom: -25px" width="250" height="" alt="Saturn3 Logo"></a>
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
                <a href="https://www.ume.de/kontakt/"><img class="rounded bg-white mb-2 img-fluid" src="{% static 'gui/img/Logo_UME_UKE.jpg' %}" width="200" alt="Saturn3 Logo"></a>
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
              </div>

            </div>
          </div>


          <div class="bg-white pt-0 pb-2">
            <div class="d-flex flex-wrap justify-content-between align-items-center">

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
                <a href="https://www.uk-koeln.de/"> <img class="rounded bg-white p-1 img-fluid" src="{% static 'gui/img/Logo_UniKoeln.svg' %}" width="150" height="" alt="Saturn3 Logo"> </a>
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
                <a href="https://www.uniklinik-freiburg.de/de.html">  <img class="rounded bg-white pt-2 pb-2 img-fluid" src="{% static 'gui/img/UKF.png' %}" width="150" alt="Saturn3 Logo"> </a>
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
              </div>

              <div class="col-md-2 d-flex align-items-center justify-content-center mt-0 mb-1 mb-md-0 me-md-auto">
                <a href="https://wtz-essen.de/"> <img class="rounded bg-white pb-0 img-fluid" src="{% static 'gui/img/Logo_UME_WTZ_essen.png' %}" width="150" style="margin-top: -25px; margin-bottom: -25px" alt="Saturn3 Logo"> </a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-3 mt-1">
          <div class="d-flex align-items-center justify-content-center mt-2 mb-3 mb-md-0 me-md-auto">
            <a href="https://www.dekade-gegen-krebs.de/de/home/home_node.html"> <img class="bg-white img-fluid" src="{% static 'gui/img/NKD_BMBF.png' %}" width="300" alt="NKD and BMBF Logo"> </a>
          <div>
        </div>
 
      </div>

      {% block body_scripts %}
      {% endblock %}
  
  </body>
</html> 