<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Saturn3 - {% block title %}{% endblock %}</title>
      
      {# Include FontAwesome; required for icon display #}
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <!-- CSS only -->
      {% load static %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'gui/style.css' %}">
      <link rel="shortcut icon" type="image/png" href="{% static 'gui/favicon.png' %}" >
      

      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      
      {% block head_scripts %} {%endblock%}
      
      {{ form.media }}

  </head>

  <body class="bg-light">       
    {# Navigation across pages #}
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand " href="/">
          <img class="rounded" src="{% static 'gui/img/SATURN3_Logo_RGB_Square_rect.png' %}" width="70" alt="Saturn3 Logo">
        </a>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href={% url "config" %} id="sample-tracking-nav">Sample Tracking</a>
            <a class="nav-item nav-link" href={% url "all_samples" %} id="all-samples-nav">Samples</a>
            <a class="nav-item nav-link" href={% url "contact" %} id="contact-nav">Contact</a>
            <a class="nav-item nav-link" href={% url "imprint" %} id="imprint-nav">Imprint</a>
          </div>
          <div class="navbar-nav ms-auto">
            <div class="vr bg-light"></div>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <div id="dropdown-login" class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                <h6 class="dropdown-header"> {% if user %} {{ user }} {% else %} You are not logged in {% endif %}</h6>
                {% if user %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href={% url "password_change" %}>Change password</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout/">Log out</a> 
                
                
                {% endif %}
              </div>
            </li>
          </div>
        </div>
      </div>
    </nav>

    
    {% block content %}
    {% endblock %}
    
    <footer >

    </footer>

    <script>
      $(document).ready(function() {
        let selected = null;
        
        switch (window.location.pathname) {
          case "/samples/": 
            selected = $("#all-samples-nav");
            break;
          case "/contact/":
            selected = $("#contact-nav");
            break;
          case "/imprint/":
            selected = $("#imprint-nav");
            break;
          case "/":
            selected = $("#sample-tracking-nav");
            break;
        }
        
        selected.addClass("active");
      });
    </script>
  </body>
</html>