{% extends './base.html' %}

{% block title %}
  Contact
{% endblock title %}


{% block header %}
<h1>
  Contact
</h1>
{% endblock header %}


{% block content %}
<div class="card-group">
  <div class=card text-bg-secondary mb-10 >
      <div class="card-header">Contact
      </div>
      <div class="card-body">
          <p class="card-text"> Laura Godfrey: <br/> laura.godfrey@uk-essen.de <br/> <br/>  Jonas Gassenschmidt: <br/>  jonas.gassenschmidt@uniklinik-freiburg.de </p> 
      </div>
      <div class="card-footer">
        
      </div>          
    </div>
  <div class=card text-bg-secondary mb-10 >
    <div class="card-header">Contributors
    </div>
      <div class="card-body">
        <p class="card-text"> Florian Heyl <br/> Frederik Voigt <br/> Jonas Gassenschmidt <br/> Laura Godfrey <br/> Lukas Heine </p> 
      </div>
      <div class="card-footer">
        
      </div>
</div>
</div>
{% endblock content %}