{% extends './base.html' %}

{% block title %}
  Contact
{% endblock title %}


{% block header %}
<h1>
  Contact
</h1>
{% endblock header %}


{% block content %}
<div class="containerino">
  <div id="main_form" class="form-containerino">
    <h2> Contact <i class="bi bi-person-vcard"></i> </h2> 
    <hr>
    <div class="card-group">
        <div class="card" >
            <div class="card-header">
              <h4> Contact </h4> </div>
            <div class="card-body">
              <h5>  Laura Godfrey: </h5> 
                <p class="card-text"> <a href="mailto:laura.godfrey@iccb-cologne.org"> laura.godfrey@iccb-cologne.org </a> </p>  
                
                <h5> Jonas Gassenschmidt: </h5> 
                <p> <a href="mailto:jonas.gassenschmidt@uniklinik-freiburg.de"> jonas.gassenschmidt@uniklinik-freiburg.de </a>  </p> 
            </div>
            <div class="card-footer"> </div>          
        </div>

        <div class="card" >
            <div class="card-header">
              <h4> Contributors </h4>
            </div>
            <div class="card-body">
                <h5> Florian Heyl <br/> Frederik Voigt <br/> Jonas Gassenschmidt <br/> Laura Godfrey <br/> Lukas Heine </h5> 
            </div>
            <div class="card-footer"> </div>
        </div>

    </div>
  </div>
</div>
{% endblock content %}