{% extends './base.html' %}

{% block title %}
  Dashboard
{% endblock title %}


{% block header %}
<h1>
  Dashboard
</h1>
{% endblock header %}


{% block content %}

<div class="containerino">
  <div id="main_form" class="form-containerino">
  
  <h2> Dashboard <i class="bi bi-clipboard-data"></i>  </h2> 
  <hr>
  

    <div class="row mt-5">
      <div class="col-2"> </div>
      <div class="col-8">
        <h5> Samples by Recruiters </h5>
        {% autoescape off %}
        {{plot1}}
        {% endautoescape %}
      </div>
      <div class="col-2"> </div>
    </div>


    <div class="row mt-5">
      <div class="col-2"> </div>
      <div class="col-8">
        <h5> Patients by recruiters </h5>
        {% autoescape off %}
        {{plot2}}
        {% endautoescape %}
      </div>
      <div class="col-2"> </div>
    </div>


    <div class="row mt-5">
      <div class="col-2"> </div>
      <div class="col-8">
        <h5> Patients by recruiters </h5>
        {% autoescape off %}
        {{plot3}}
        {% endautoescape %}
      </div>
      <div class="col-2"> </div>
    </div>


  </div>
  </div>
  </div>
  </div>

</div>
{% endblock content %}