{% extends './base.html' %}

{% block title %}
  Imprint
{% endblock title %}


{% block header %}
<h1>
  Imprint
</h1>
{% endblock header %}


{% block content %}
<div class="containerino">
    <div id="main_form" class="form-containerino">
    <h2> Imprint <i class="bi bi-card-list"></i> </h2> 
    <h8> INFORMATION PURSUANT TO § 5 TMG </h8>
    <hr>

    <div class="card-group">
        <div class="card" >
            <div class="card-header"> <h4> Developed by </h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Florian Heyl <br/>
                    Frederik Voigt <br/>
                    Jonas Gassenschmidt <br/>
                    Laura Godfrey <br/>
                    Lukas Heine <br/>
                </p>
                <p class="card-text">
                    Institute for Computational Cancer Biology
                    <br/>
                    Center for Integrated Oncology (CIO)
                    <br/>
                    Cancer Research Center Cologne Essen (CCCE)
                    <br/>
                    University Hospital and University of Cologne, Germany
                    <br/>
                    Bridge Institute of Experimental Tumor Therapy (BIT) <br/>
                         Division of Solid Tumor Translational Oncology (DKTK)
                    <br/>
                    West German Cancer Center
                    <br/>
                    University Hospital Essen and University of Duisburg-Essen
                    Germany 
                </p>

            </div>
            <div class="card-footer">
            </div>          
        </div> 
        <div class="card" >
            <div class="card-header"> 
                <h4> As part of the <a style="text-decoration:none"  href="saturn3.org"> SATURN3</a> consortium </h4>
            </div>
            
            <div class="card-body">
                <h5> Project coordinator </h5>
                <p class="card-text">
                Prof. Dr. Jens Siveke <br/>
                West German Cancer Center <br/>
                University Hospital Essen <br/>
                Hufelandstr. 55 <br />
                45147 Essen <br/>
                Germany <br/> </p>
                Email: <a href="mailto:communication@saturn3.org" style="text-decoration:none" class=text-primary>communication@saturn3.org </a>
                
            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>
    <br/>
    <div class="card-group">
        <div class="card" >
            <div class="card-header"> 
                <h4> Site Management and Realization </h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Institute of Medical Bioinformatics and Systems Medicine <br/>
                    Medical Center-University of Freiburg <br/>
                    Faculty of Medicine <br/>
                    University of Freiburg <br/>
                    Breisacherstr. 153 <br/>
                    79110, Freiburg <br/>
                    Germany <br/>
                </p>
            </div>
            <div class="card-footer">
            </div>          
        </div> 

        <div class="card" >
            <div class="card-header">
                <h4> Responsible for the content according to § 55(2) RStV </h4>
            </div>
            
            <div class="card-body">
                <p class="card-text">
                    Florian Heyl <br/>
                    Frederik Voigt <br/>
                    Jonas Gassenschmidt <br/>
                    Laura Godfrey <br/>
                    Lukas Heine <br/>
                </p>
                <p class="card-text">
                    Institute for Computational Cancer Biology
                    <br/>
                    Center for Integrated Oncology (CIO)
                    <br/>
                    Cancer Research Center Cologne Essen (CCCE)
                    <br/>
                    University Hospital and University of Cologne, Germany
                    <br/>
                    Bridge Institute of Experimental Tumor Therapy (BIT) <br/>
                         Division of Solid Tumor Translational Oncology (DKTK)
                    <br/>
                    West German Cancer Center
                    <br/>
                    University Hospital Essen and University of Duisburg-Essen
                    Germany 
                </p>
                <p class="card-text">
                    We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.
                </p>

            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>
    <br/>
    <div class="card-group">
        <div class="card" >
            <div class="card-header"> 
                <h4> Liability for Contents</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    As service providers, we are liable for own contents of these websites according to Paragraph 7, Sect. 1 German Telemedia Act (TMG). <br/>
                    However, according to Paragraphs 8 to 10 German Telemedia Act (TMG),
                    service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.
                    Legal obligations to removing information or to blocking the use of information remain unchallenged. <br/>
                    In this case, liability is only possible at the time of knowledge about a specific violation of law.
                    Illegal contents will be removed immediately at the time we get knowledge of them.
                </p>
            </div>
            <div class="card-footer">
            </div>          
        </div> 

        <div class="card" >
            <div class="card-header">
                <h4> Copyright </h4>
            </div>
            
            <div class="card-body">
                <p class="card-text">
                    Contents and compilations published on these websites by the providers are subject to German copyright laws.<br/>
                    Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. <br/>
                    Downloads and copies of these websites are permitted for private use only.
                    The commercial use of our contents without permission of the originator is prohibited. <br/>
                    Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider.
                    Contributions of third parties on this site are indicated as such. <br/>
                    However, if you notice any violations of copyright law, please inform us. 
                    Such contents will be removed immediately.

                </p>
            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>




    </div>
</div>



{% endblock content %}