{% extends './base.html' %}

{% block title%}
🪐 Saturn3 - Sample Tracking
{% endblock title%}

{% block header %}
<h1>
  Sample Tracking 
</h1>
{% endblock header %}

{% block content %}
<div class="containerino">

 

  <form action={% url "config" %} method="post" enctype="multipart/form-data" id="start-of-form">
    {% csrf_token %}
    <div id="main_form" class="form-containerino">
      <h2 id="top_of_form"> Form <i class="bi bi-pencil-square"></i> </h2> 
      <h8> Fields marked with * are mandatory. </h8>
      <!-- GENERAL MESSAGES -->
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {% if message.extra_tags == "general" %}       
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      
      {% for field in form %}
       {# splitting the form visually in sections for the different user groups #}
       {%if field.name in "recruiting_site, tumor_cell_content, spl_received, sclab_received, lb_analyte_type, pools"%}
      <hr>
       {%endif%}

        {# IF THERE'S BEEN A SUBMISSION #}
        {% if messages %} 
          {# highlight errorneous field if there's been an error in the submissed form field #}
          {% if field.name in form.errors %}
            <p class="wrong_input" id="{{field.name}}"> 
              {{field.label_tag}}

              {# custom check box - felt cute, might delete later #}
              {% if field.name == "corresponding_organoid" %}
                <label class="checko"> 
                  {{field}}
                <span class="checkmark">  </span>
                </label>
                
              {# normal input field #}
              {% else %}
                {{field}}
                
              {% endif %}
              {{field.help_text}}
              
              {# error message right below the respective field #}
             <ul class="messages">
              {% for message in messages %}
                {%if field.name == message.extra_tags %} 
                <li class=" {{ message.tags }} " > {{ message }} </li>
                {%endif%}
              {% endfor %}
            </ul>
            </p>
          
          {# if there has been no error in the submitted field #}
          {% else %}
          <p id="{{ field.name }}"> 
            {{field.label_tag}} 

              {# custom check box - felt cute, might delete later #}
              {% if field.name == "corresponding_organoid" %}
                <label class="checko"> 
                  {{field}}
                  <span class="checkmark">  </span>
                </label>
              
              {# normal input field #}
              {% else %}
                {{field}}
              {% endif %} 
              {{field.help_text}}</p>
          {% endif %}
            
        {#  NO MESSAGES / NO FROM SUBMITTED YET #}
        {% else %} 
      
          <p id="{{ field.name }}">  {{field.label_tag}}

            
            {# custom check box - felt cute, might delete later #}
            {% if field.name == "corresponding_organoid" %}
              <label class="checko"> 
                {{field}}
              <span class="checkmark">  </span>
              </label>

             {# normal input field #}
             
             {% else %}
              {{field}}
            {% endif %}
            {{field.help_text}}
            
             </p>

        {% endif %} 
      {% endfor %}
      <!-- END OF INPUT FIELDS -->

      <div class="text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalButton">
          Submit 
        </button>
      
      </div>
      
      <!-- GENERAL MESSAGES -->
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {% if message.extra_tags == "general" %}       
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </form>

  {# SEARCH FORM #}
  <form action={% url "search" %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-containerino">
      <div>
        <h2> Edit Record <i class="bi bi-search"></i> </h2>
      </div>
      <div>
        {{ search_form.search_field.label_tag }}
      </div>
      <div class="custom-row">
        <input 
          id="{{ search_form.search_field.auto_id }}" 
          name="{{ search_form.search_field.name }}"
          type="text"
        >
        <button type="submit" class="btn btn-primary" id="search-button" >
          Search
        </button>
      </div>
      <!-- {{search_form.as_p}} -->
      <!-- <div class="text-center"> -->
      <!-- </div> -->
        {% if messages %}
          {%for message in messages%}

            {% if message.extra_tags == "search" %}
            <ul class="messages">
            <li class=" {{ message.tags }} " > {{ message }} </li>
            </ul>
            {% endif %}
            {% endfor %}
        
        {% endif %}
      </div>
    </form>

  {# UPLOAD FORM #}
  <form action={% url "upload" %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-containerino">
      <div>
        <h2> CSV File Upload <i class="bi bi-upload"></i> </h2>
      </div>
      <div class="custom-row">
        <input id="{{ upload_form.file.auto_id }}" name="{{upload_form.file.name}}" type="file">
        <button type="submit" class="btn btn-primary" id="end-of-page">
          Submit
        </button>
      </div>
      <div>
        <label>Download CSV-Template:</label>
      </div>
      <div>
        <a id="btn-download-tmp" href="/csv_template/" class="btn btn-primary" role="button">Download</a>
      </div>
      {% if messages %}
        {%for message in messages%}

          {% if message.extra_tags == "file" %}
          <ul class="messages">
          <li class=" {{ message.tags }} " > {{ message }} </li>
          </ul>
          {% endif %}
          {% endfor %}
      
      {% endif %}
    </div>
  </form>    
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-l modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Please confirm your input data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody">
        Form:
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="confirmSubmission()" >Confirm</button>
      </div>
    </div>
  </div>
</div>


{% load static %}
<script src="{% static 'gui/formConfirmModal.js' %}"></script>
<script>
  function confirmSubmission(){
    const form = document.getElementById('start-of-form');
    document.getElementById("exampleModal").style.display = "none";
    form.submit();
  }
  
</script>

{# a script that autofills a field with content of other fields #}
<script>
  function autoFillPatient(val) {

    var x = document.getElementById("id_saturn3_sample_code_1");
    x.setAttribute("value", val);

  }
</script>


<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
</script>
  

{% endblock content %}


{% block head_scripts %}
{% if jump_to == "form" %}
      <script defer>         
        window.location.href = '#start-of-form';
      </script>
{% endif %}
{% endblock head_scripts %}