{% extends './base.html' %}

{% block title%}
Login
{% endblock title%}


{% block content %}
<div class="containerino">

  <form action={% url "login" %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-containerino">
      <div class="row align-items-center">
        <div class="col">
          <h2> Login 👤</h2>
        </div>
      </div>
      <div class="row">
        {{form.as_p}}
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <button type="submit" class="btn btn-block btn-primary">Login</button>
        </div>
      </div>
    </div>
    </form>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}       
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
      </ul>
      {% endif %}
</div>
{% endblock content %}