@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


header {
    width: auto;
    background-position: center;
    opacity: 1;
    background-color: #ebe4d4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* main container */
.containerino {
    /* background: rgba(20, 40, 100, 0.783); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: #385573 solid 0px;
    flex-direction: column-reverse;
    margin: 0px 100px 10px 100px;
    border-image: linear-gradient(#142864, #272222);
    border-width: 4px;
    border-style: solid;
}

/* for all_samples_overview to contain containers */
.overdiv {
    position: relative;
    width: 90%;
    border-radius: 10px;
    /* border: #649bd6 dotted 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebe4d4f8;
    margin-top: 2%;

}

.tablediv {
    margin: 1% 1% 1% 1%;
    max-width: 100%;
    width: 90%;
    overflow: auto;
    background: rgb(0, 0, 0);
    border: solid black 10px;
    border-radius: 20px;
    
}

.stripedtable {
    margin: 0% auto 5% auto;
    overflow: auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #0056b3;
}

/* Table rows zebra style */
.stripedtable tr:nth-child(even) {
    background-color: #fff7f7;
}

.stripedtable tr:nth-child(odd) {
    background-color: #ebe4d4f8;
}

.stripedtable th {
    white-space: nowrap;
    border-bottom:1px solid black;
    text-align: left;
    padding: 8px;
    color: black;
    background-color: #ffffff;
}
.stripedtable td {
    white-space: nowrap;
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    color: black;
}

/* Table inside confirmation modal */
#modalBody tr {
    background-color: #ffffff;
}
#modalBody td {
    border-radius: 5px;
}
#modalBody table{
    border: #272222 2px solid;
}

/* All about forms */

form {
    width: 90%;
}

.navbar {
    background-color: rgba(20, 40, 100, 0.94);
}

/* Style the form container */
.form-containerino {
    width: 100%;
    background-color: rgba(20, 40, 100, 0.03);
    padding: 20px;
    margin-top: 3%;
    position: relative;
}

#main_form p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#main_form label {
    width: 20%;
    font-weight: bold;
    padding-top: 1em;
}


/* Style the labels */
label {
    font-weight: bold;
    margin-bottom: 4px;
}

/* error highlighting */
.wrong_input {
    border: red, dotted, 2px;
    color: red;
}

.wrong_input input[type="text"] {
    border: 2px solid #ff6347;
    padding: 5px;
    width: 50%;
    margin: 8px 0;
    font-size: large;
}

.wrong_input input[type="checkbox"] {
    border: 2px solid #ff6347;
    padding: 5px;
    width: 50%;
    margin: 8px 0;
    font-size: large;
}

.wrong_input input[type="number"] {
    border: 2px solid #ff6347;
    padding: 5px;
    width: 50%;
    margin: 8px 0;
    font-size: large;
}

.wrong_input select {
    border: 2px solid #ff6347;
    padding: 5px;
    width: 50%;
    margin: 8px 0;
    font-size: large;
}

/* Style the file input fields */
input[type="file"] {
    border: 1px solid #aaa;
    padding: 5px;
    width: 50%;
    margin: 8px 0;
    font-size: large
}

/* Style the different input fields */
input[type="text"],
input[type="number"],
input[type="password"] {
    border: 1px solid #aaa;
    padding: 5px;
    width: 50%;
    margin: 8px 0;
    font-size: large;
}

/* Make input fields grey if disabled */
input[disabled="true"] {
    opacity: 1;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 8px 0;
    width: 50%;
    font-size: large;
    background: rgb(163, 157, 157);
    color: grey;
}

select {
    border: 1px solid #aaa;
    padding: 5px;
    width: 50%;
    height: 2em;
    margin: 8px 0;
    font-size: large;
}

select[disabled="true"] {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 8px 0;
    width: 50%;
    font-size: large;
    background: rgb(163, 157, 157);
}

/* Style the select fields */
select.form-control {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* make datepicker grey if disabled */
.form-control:disabled {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 8px 0;
    width: 50%;
    font-size: large;
    background: rgb(163, 157, 157);
}

/* container surrounding datetimepickers */
.input-group {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px, 0px, 0px, 0px;
    padding: 0px, 1px, 1px, 1px;
    width: 50%;
}


#saturn3_sample_code{
    flex-direction: row;
}


#saturn3_sample_code input{
    width: fit-content;
    max-width: 5em;
    height: 2em;
}

#saturn3_sample_code input[type="number"]{
    width: fit-content;
    max-width: 3em;
    height: 2em;
}

#saturn3_sample_code select{
    width: fit-content;
    height: 2em;
}


/* CUSTOM CHECKBOX (so much code for such a small thing ... ) */
.checko {
    display: block;
    position: relative;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checko input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    border: 1px solid #aaa;
}

.checko:disabled .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(163, 157, 157);
    border: 1px solid #aaa;
}

/* On mouse-over, add a grey background color */
.checko:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checko input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}



/* Show the checkmark when checked */
.checko input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checko .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* END OF CUSTOM CHECKBOX*/

.text_center {
    display: flex;

}

.required {
    text-decoration-line: underline;
}

.required:after {
    content: "*";
}

.messages {
    padding: 1px;
    margin-top: 10px;
}

.btn {
    background-color: rgba(20,40,100,0.7);
    border: none;
}

.btn:hover {
    background-color: rgba(20,40,100,0.9);
    border: none;
}

.btn:active:focus {
    background-color: rgba(20,40,100,1.0);
    border: none;
}

/* Styles for different message tags */
.error {
    color: #ff6347;
    background-color: #f7e9e9;
    /* Green hue background color */
    border: 1px solid #b84242;
    /* Green border color */
    /* Red color for error messages */
}

.success {
    color: #008000;
    background-color: #e9f7ef;
    /* Green hue background color */
    border: 1px solid #42b883;
    /* Green border color */
    /* Green color for success messages */
}

ul {
    list-style-type: none;
}

footer{
    width: auto;
    opacity: 1;
    background-color: rgba(20, 40, 100, 0.03);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.footerdiv{
    display: flex;
    flex-direction: row;
}
