{% for item in samples %}
<tr>
    {% for key, value in item.items %}
        {% if key %}
            {% if key == "id" or key == "created" %}
            <td hidden >{{ value }}</td>
            {% else %}
              {% load l10n %}
                {% localize off %}
                  <td>{{ value }}</td>
                {% endlocalize %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <td>
      {% if 'gui.delete_histopathologicalsample' in user.get_all_permissions or user.get_user_name == "root"%}
      <button id="Delete {{item.saturn3_sample_code}}" type="button" onclick="deleteID({{ item.id }}, '{{csrf_token}}' )">Delete</button>
      {% endif %}
    </td>
</tr>
{% endfor %}

{% if next_offset %}
<tr hx-get="{% url 'some_samples' %}?offset={{next_offset}}&column_names={{column_names}}"
    hx-trigger="load"
    hx-swap="outerHTML">
    <td colspan="3" class="text-center text-muted">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        Loading more rows...
    </td>
</tr>
{% else %}
  {% load static %}
    <script>
      const tableHead = document.querySelector("#head-row")
      let columnDropdownButtons = tableHead.querySelectorAll("button");
      columnDropdownButtons.forEach(function(elem, index) {
            getColumnValues(elem.id, index);
        });
    </script>
{% endif %}
